/* ปรับ header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 2%; /* ลด padding ด้านซ้าย */
}

header .header-title {
  font-size: 30px; /* ขนาดฟอนต์ */
  font-weight: bold;
  color: black;
}

/* กลุ่มของปุ่มหรือ section ที่ใช้ flex */
header .flex {
  display: flex;
  align-items: center; /* ให้มีการจัดตำแหน่งให้อยู่กลางในแนวตั้ง */
}

header .ml-auto {
  margin-left: auto; /* ให้ฝั่งขวาถอยไปทางซ้าย */
}

/* ปรับความยืดหยุ่นให้ search bar หายไปเมื่อ responsive */
@media (max-width: 1000px) {
  .sm\:flex {
    display: none; /* ซ่อนส่วนของ search bar และ profile เมื่อหน้าจอเล็ก */
  }

  header {
    padding: 12px 5%; /* เพิ่ม padding ด้านขวาและซ้ายเมื่อหน้าจอเล็ก */
  }

  header .header-title {
    font-size: 24px; /* ลดขนาดฟอนต์เมื่อหน้าจอเล็ก */
  }
}
